<% provide(:title, "(@#{current_user.name})")%>
<div class="user-show-wrapper">
<h2><%= current_user.name %>のお気に入り一覧</h2>
  <% if @user.id == current_user.id %>
    <div class="user-show-edit">
        <%= image_tag(get_user_image_url(@user),class:'user-image') %>
        <li><%= link_to "プロフィールを編集",edit_user_path(@user) %></li>
        </div>
      <% end %>
 <div class="show-nav">
  <ul>
    <li class="show-nav-list" id="posts">
     <%= link_to "ブログを新規作成", posts_path %>
    </li>

  </ul>
</div>  
</div>
<ul>

<% if @favorite_list.present? %>
  <% @favorite_list.each do |favorite| %>
    <%= favorite.user.name %>
    <%= image_tag favorite.image.url %> 
    <% end %>
  
<% end %>
</ul>
