
<% provide(:title, "ログイン") %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-login">
     <h3><%= pluralize(@user.errors.count, "error", locale: :en)  %> prohibited this <%= @user.name %> from being saved:</h3>
     <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
       <% end %>
    </ul>
   </div>
   <% end %>
    <%= form_with(model: @user, local: true, class: "login-form") do |form| %>
    <h1>Sign up</h1>
    <%= image_tag(@user.image.url, class: "user-image") if @user.image && @user.image.url %>

    <%= form.label :name, class: "sri" %>
    <%= form.text_field :name, class: "form-control", placeholder: 'your name', required: true %>
    <%= form.label :email, class: "sri" %>
   <%= form.email_field :email, class: "form-control", placeholder: 'your email', required: true, autofocus: true %>
     <%= form.label :image, class: "sri" %>
    <%= form.file_field :image, class: "form-control", accept: "image/jpg, image/jpeg, image/png, image/gif" %>
    <%= form.hidden_field :image_cache %>
    <%= form.label :password, class: "sri" %>
    <%= form.password_field :password, class: "form-control", placeholder: 'your password', required: true, minlength: 6 %>
    <%= form.label :password, class: "sri" %>
    <%= form.password_field :password_confirmation, class: "form-controle", placeholder: 'your password confirmation', required: true %>
    <%= form.submit "登録する", class: "btn-primary", id: "active-btn" %>
     <p><%=link_to "ログインする", new_session_path %></p>
  <% end %>
  <div class="enter-login-wrapper">
 
</div>
</div>




