<% provide(:title, "(@#{@user.name})") %>
<div class="user-show-wrapper">

<h2><%= @user.name %>のプロファイル</h2>

      <h1><%= @user.name %></h1>
      <% if @user.id == current_user.id %>
        <div class="user-show-edit">
        <%= image_tag(get_user_image_url(@user)) %>
        <%= link_to "プロフィールを編集",edit_user_path(@user) %>
        </div>
      <% end %>
 <div class="show-nav">
  <ul>
    <li class="show-nav-list" id="posts">
     <%= link_to "ブログを新規作成", posts_path %>
    </li>
      <%= button_to  favorites_user_path(favorite: {user_id: @user.id} ), method: :post, class: "favorite-button" do %>
      <%= fa_icon('thumbs-up', type: :solid, text: "favorite") %>
      <% end %>
    </li>
  </ul>
</div>  

<p>メールアドレス: <%= @user.email %></p>
</div>
