<div class="post-wrapper">
  <%= form_with(model: @post, url: choose_new_or_edit, local: true) do |form| %>
    <% if @post.errors.any? %>
      <div class="alert alert-danger alert-login">
        <h2><%= pluralize(@post.errors.count, "error", locale: :en)  %>  from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="post-form-header">
      <ul>
        <li></li>
    
        <li><%= form.submit "投稿", class: "btn-original", id: "posts-btn" %></li>
      </ul>
    </div>
    <%= form.label :content, class: "sr" %>
    <%= form.text_area :content, class: "form-control", placeholder: "" %>
    <%= form.label :image, class: "sr" %>
    <%= form.file_field :image, class: "form-control", accept: "image/jpg, image/jpeg, image/png, image/gif" %>
    <%= form.hidden_field :image_cache %>
    <div class="post-image-box">
      <%= image_tag(@post.image.url, class: "form-post-image") if @post.image && @post.image.url %>
    </div>
  <% end %>
</div>
