  <p id="notice"><%= notice %></p>
<article class="show-post-wrapper">

    <div class="show-post-header">
      <div class="show-main">
       <div class="item-header">
       <ul class="row" style="list-style:none">
      
        <li class="col-sm-2" > <a href=<%= user_path(@post.user.id) %>>
          <%= image_tag(@post.user.image.url,class:'user-image') if @post.user.image && @post.user.image.url %></a>
        </li>
         <li class="col-sm-2">
          <%= link_to distance_of_time_in_words(Time.now, @post.created_at)+ ' ago', @post, class: 'timestamp' %>
         </li>
         <% if @post.user.id == current_user.id %>
        <li class="col-sm-3">
          <p>Posted by:  <%= link_to @post.user.name, user_path(@post.user.id) %></p>
          </li>
        
         <li class="col-sm-2">
         <% if @post.user.id == current_user.id %>
         <div> <%= link_to "編集",edit_post_path  %></div> 
         <div> <%= link_to "削除",post_path, method: :delete, data: {confirm: "本当に削除しますか?"} %></div>
         </li>
         <% end %>
          <% end %>
         </ul>
         </div>
         </div>
          <div class = "show-post-content">
           <div class="new-post-image" >     
           <%= image_tag(@post.image.url class:'show-post-image') if @post.image && @post.image.url %> 
          </div>
        </div>
       
    <div class="show-post-footer">
      <div class="favorite-wrapper">
      <% unless @post.user_id == current_user.id %>
     <% if @favorite.present? %>
      <%= button_to  favorite_path(id: @favorite.id), method: :delete, class: 'favorite-button unfavorite' do %>
      <%= fa_icon('thumbs-up', type: :regular, text: "favorite") %>
    <% end %>
    <% else %>
      <%= button_to  favorites_path(favorite: {post_id: @post.id} ), method: :post, class: "favorite-button" do %>
      <%= fa_icon('thumbs-up', type: :solid, text: "favorite") %>
    <% end %>
    <% end %>
       <%= link_to "HOME", posts_path %>
   <% end %>
  </div>
 </div>
</div>
</article>


